#btn{
    height: 5%;
    width: 15%;
}

#btn:hover{
    background-color: red;
    font-weight: bolder;
    color: white;
}

#texts{
    height: 5%;
    border: 2px solid olivedrab;
}

#btn-1:hover{
    background-color: red;
    font-weight: bolder;
    color:white;
}