.outer{
    border: 5px double black;
    height: auto;
    width: 90vw;
   padding: 2%;
}

#login{
    text-align: center;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 2%;
    width: 70%;
    margin-top: 4%;
   
}
